/* ============ footer ============ */

.footer
{
    position: relative;
    width: 100%;
    min-height: 180px;
    /* border: 0.2px solid red; */
    box-sizing: border-box;
    padding: 60px 80px;
    background: #fff;
}
.footer .footer_content
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.footer .footer_content .footer_top
{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e8ea;
    padding: 5px 0px;
}
.footer .footer_content .footer_top .page_navigator
{
    position: relative;
    display: flex;
}
.footer .footer_content .footer_top .page_navigator a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin-right: 25px;
    color: #252b33;
}
.footer .footer_content .footer_top .page_navigator a:last-child
{
    margin-right: 0px;
}
.footer .footer_content .footer_top .page_navigator a:hover
{
    color: rgb(42, 170, 138);
}


.footer .footer_content .footer_top .social_media
{
    position: relative;
    margin-left: auto;
    display: flex;
}
.footer .footer_content .footer_top .social_media
{
    position: relative;
    margin-left: auto;
    display: flex;
}
.footer .footer_content .footer_top .social_media a
{
    text-decoration: none;
    margin: 0px 6px;
    width: 35px;
    height: 35px;
    /* border: 0.2px solid black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #4d555a;
}
.footer .footer_content .footer_top .social_media a:hover
{
    font-size: 16px;
}
.footer .footer_content .footer_top .social_media a:last-child
{
    margin-right: 0px;
}

.footer .footer_content .footer_top .social_media a:hover:nth-child(1)
{
    background: rgb(59, 89, 152);
    color: #fff;
}
.footer .footer_content .footer_top .social_media a:hover:nth-child(2)
{
    background: rgb(85, 172, 238);
    color: #fff;
}
.footer .footer_content .footer_top .social_media a:hover:nth-child(3)
{
    background: linear-gradient(to right bottom,#5559c9,#c52684,#ef6a44,#f7bc4d);
    color: #fff;
}
.footer .footer_content .footer_top .social_media a:hover:nth-child(4)
{
    background: rgb(192, 54, 36);
    color: #fff;
}
.footer .footer_content .footer_top .social_media a:hover:nth-child(5)
{
    background: #b00;
    color: #fff;
}


.footer .footer_content .footer_bottom
{
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 0.2px solid red; */
    padding: 5px 0px;
}
.footer .footer_content .footer_bottom p
{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #67727c;
}
.footer .footer_content .footer_bottom p span
{
    color: rgb(42, 170, 138);
}
.footer .footer_content .footer_bottom .page_navigator
{
    position: relative;
    margin-left: auto;
}
.footer .footer_content .footer_bottom .page_navigator a
{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #67727c;
    margin-left: 20px;
}
.footer .footer_content .footer_bottom .page_navigator a:first-child
{
    margin-left: 0px;
}
.footer .footer_content .footer_bottom .page_navigator a:hover
{
    color: rgb(42, 170, 138);
}


.bottom_to_top_button
{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.bottom_to_top_button a
{
    text-decoration: none;
    width: 45px;
    height: 45px;
    /* border: 0.2px solid black; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: rgb(19, 175, 115);
    color: #fff;
    font-weight: 600;
}





/* ============ footer responsive ============ */


@media only screen  and (max-width:1070px)
{
    .footer
{
    padding: 75px 45px;
}
.footer .footer_content .footer_top .page_navigator a
{
    font-size: 14.5px;
}
.footer .footer_content .footer_top .social_media a
{
    font-size: 18px;
}
}


@media only screen  and (max-width:700px)
{
    .footer .footer_content .footer_top
    {
        flex-direction: column;
    }
    .footer .footer_content .footer_top .social_media
    {
        margin-left: 0px;
        margin-top: 15px;
    }
    .footer .footer_content .footer_bottom
    {
        flex-direction: column-reverse;
    }
    .footer .footer_content .footer_bottom .page_navigator
    {
        margin-left: 0px;
        margin-bottom: 12px;
    }
}



@media only screen  and (max-width:500px)
{
    .footer .footer_content .footer_top .page_navigator a
{
    font-size: 13px;
    margin-right: 20px;
}
.footer .footer_content .footer_top .social_media a
{
    margin: 0px 3px;
    width: 30px;
    height: 30px;
    font-size: 16px;
}
.footer .footer_content .footer_top .social_media a:hover
{
    font-size: 13px;
}
.footer .footer_content .footer_bottom .page_navigator a
{
    font-size: 12.5px;
    margin-left: 15px;
}
.footer .footer_content .footer_bottom p
{
    font-size: 12px;
    text-align: center;
}
}



@media only screen  and (max-width:400px)
{
    .footer .footer_content .footer_top .page_navigator
    {
        flex-direction: column;
        text-align: center;
    }
    .footer .footer_content .footer_top .page_navigator a
{
    margin-right: 0px;
    padding: 6px 0;
}
}